 html, head, body, header, footer{
      margin: 0;
      border: 0;
      padding: 0;
      font: inherit;
      text-align: inherit;
      text-decoration: inherit;
      color: inherit;
      background: transparent;
    }
    body {
    	background-color: #F5F5F5;
    	height: 1000px;
    }
    h1 {
    	font-size: 2.2em;
    	font-family: Helvetica, sans-serif;
    	color: #212121;
    }
    p {
    	font-family: Helvetica, sans-serif;
    	color: #212121;
    }
		header {
			display: block;
			position: fixed;
			background-color: #03A9F4;
			z-index: 5;
			top: 0;
			height: 10%;
			width: 100%
		}
		footer {
			display: block;
			position: fixed;
			background-color: #03A9F4;
			bottom: 0;
			height: 10%;
			width: 100%
		}
		nav {
			display: block;
			position: fixed;
			left: 7%;
			top: 7%;
		}
		nav a {
			padding: 1em;
			color: #FFFFFF;
			text-decoration: none;
			font-family: Helvetica, sans-serif;
			font-weight: bold;
		}

		nav a:hover {
		  color: #FFB74D;
		}
		.card {
			display: block;
			position: absolute;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.2s ease-in-out;
			padding: 1%;
			background-color: #FAFAFA;
			width: 60%;
			height: 75%;
			top: 20%;
			left: 20%;		
		}
		.card:hover {
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}
		.social-links {
			display: block;
			position: relative;
			float: right;
			height: 35%;
			width: auto;
			padding: 1em;
			right: 10%;
		}
		#headshot{
			display: block;
			float: left;
			height: 50%;
			margin: 1em;
		}
		#riley-logo{
			display: block;
			float: left;
			height: 110%;
			margin-left: 1%;
		}