/** {
  border: 1px solid red;
}*/
/* TO DO
 - add media queries*/
html, head, body, header, footer, h1, h2, h3, h4, h5, h6, li{
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  color: #212121;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

body {
	background-color: #F5F5F5;
	padding-bottom: 20%
}

h1 {
	font-size: 2.2em;
	color: #212121;
}

h2 {
	font-size: 1.5em;
	color: #212121;
}

p {
	color: #212121;
	text-align: justify;
}

li {
	font-family: Helvetica, sans-serif;
	color: #212121;
}

header {
	display: block;
	position: fixed;
  background: linear-gradient(to right, #226ff0, #1fc6fb);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 5;
	top: 0;
	height: 10%;
	width: 100%
}

a {
	text-decoration: none;
  color: inherit;
}

a:hover {
  color: #226ff0;
}

.contact-info {
  text-align: right;
  display: block;
  color: white;
}

.title {
  color: white;
}

.heading {
  color: #f0332b;
}

li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
}
